<div class="product-card">
  <h2 class="product-name">{{name}}</h2>
  <p class="product-description">{{description}}</p>
  <p class="product-id">ID: {{id}}</p>
	<div class="card-bottom">
		<p class="product-price">{{price}} грн.</p>
		<a class="product-edit" href="/product-edit?id={{id}}">Редагувати</a>
	</div>
</div>
